html {
	/*background-color: #000000;*/
	background-image: url("bench.jpg"); /*no-repeat center center fixed	*/
	background-repeat: no-repeat; /*repeat-y would let me repeat it over the y axis*/
	background-attachment: fixed;
	background-size: 100% 100%;
}
img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

#photo-credit
{
	margin-bottom: 2cm;
	margin-left: 3cm; /*figure out a better way to do this*/
	/*figure out how to get this on the actual picture*/
	float: bottom;
	float: right;
	color: #FFFFFF;
}
.headerBlock
{
	background-color: #444;
	opacity: 0.5;
}
.nav ul {
  list-style: none;
  background-color: #444;
  text-align: left;
  padding: 0;
  margin: 0;
}

 
.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
 
.nav a:hover {
  background-color: #635b30;
}
 
.nav a.active {
  color: #444444;  
  cursor: default; /* cursor will change when it is over link */
}
 
.nav li {
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
	line-height: 35px;
	display: inline-block;
	margin-right: 15px;
	height: 35px;
	/*border-bottom: 1px solid #888;*/
}
